.section_header {
    width: 23%;
    display: flex;
    overflow: hidden;
    position: fixed;
    padding: 0px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    box-shadow: 5px 0px 5px #d723234f;
    background-color: #22222259;
}
.pagecurrent.col-md-9 {
    margin-right: 0px ;
    margin-left: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}
nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0;
}

.img_perso img {
    position: relative;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    object-position: top center;
    border: 3px solid #D72323;
}

.img_perso {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.37);
    border-width: 0 0 1px 0;
    padding: 30px 5% 50px;
}
.menu {
    width: 100%;
}

ul.listmenu {
    padding: 0px;
    list-style-type: none;
    font-size: 21px;
    text-align:center
}
ul.listmenu li{
    
    background:#d723230f;
    margin-block: 10px;
    position:relative;
    cursor:pointer;
    
}
ul.listmenu li:before{
    content:"";
    height:100%;
    width:0%;
    position:absolute;
    background:#d7232326;
    left:0px;
    top:0px;
    bottom:0px;
    margin:auto;
    z-index:-1;
    transition:all 0.4s ease-in-out
}
ul.listmenu li a{
    width:100%;
    text-align:center;
    padding:10px;
}
ul.listmenu li{
    display:flex;
}
ul.listmenu li:hover:before, ul.listmenu li.active:before{
    width:100%;
}
ul.listmenu a{
    text-decoration: unset;
    color: rgba(255, 255, 255, 0.479);
    font-family: "Nunito";
    text-transform: uppercase;
    transition:all 0.4s ease-in-out;
}
ul.listmenu li.active a,ul.listmenu li:hover a{
    color: #fff;
}
.name_cpy{
    font-weight: 700;
    text-transform:capitalize ;
    letter-spacing: 0.02cm;
    margin-left: 10px;
}