/* for all page */

.pagecurrent {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* background video */
.vidbg {
    position: fixed;
    z-index: -1;
    opacity: 0.2;
    object-fit: cover;
}
/* pallet color */
.firstcolor{
    color:#D72323
  }

/* Home page */
.h1_pres span.firstcolor {
    opacity: 0.6;
}

.h1_pres span.firstcolor {
    opacity: 0.6;
}

h1.h1_pres {
    font-family: Nunito,sans-serif;
    font-weight: 700;
    text-align: center;
    color:#a4acc4
}

.section_content {
    width: 80%;
    margin: auto;
}

.section_content p {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: 15px;
    text-align: center;
    color:#a4acc4
}

.listres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    padding: 0px;

}

.listres li {
    width: max-content;
    margin-inline:10px;
    transition:all 0.5s ;
    cursor:pointer
}
ul.listres li:hover {
    transform: translateY(-5px);
}
.listres li a{
    color: #a4acc4;
    font-size: 30px;
}
.listres li a:hover{
    color: #fff;
}

