/* for all page */

.pagecurrent {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* button  */
button.btn-cv {
    padding: 12px 35px;
    font-family: 'Lato';
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #d72323;
    border: 0px;
    position:relative;
    
}
button.btn-cv:after{
    content:"";
    width:0%;
    height:2px;
    position:absolute;
    background-color: #fff;
    left: 0;
    bottom:0px;
    transition:all 0.6s ease-in-out;
}
button.btn-cv:hover:after{
    width:100%;
    background-color: #fff;
}
/* background video */
.vidbg {
    position: fixed;
    z-index: -1;
    opacity: 0.2;
    object-fit: cover;
}
/* pallet color */
.firstcolor{
    color:#D72323
  }
p{
    color: #a4acc4;
    font-family: 'Lato';
}
/* Home page */
.h1_pres span.firstcolor {
    opacity: 0.6;
}

.h1_pres span.firstcolor {
    opacity: 0.6;
}
h1{
    font-family: "Nunito",sans-serif;
    font-weight: 500;
}
h1.h1_pres {
    font-weight: 700;
    text-align: center;
    color:#a4acc4
}

.section_content {
    width: 80%;
    margin: auto;
}

.section_content p {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: 15px;
    text-align: center;
    color:#a4acc4
}

.listres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    padding: 0px;

}

.listres li {
    width: max-content;
    margin-inline:10px;
    transition:all 0.5s ;
    cursor:pointer
}
ul.listres li:hover {
    transform: translateY(-5px);
}
.listres li a{
    color: #a4acc4;
    font-size: 30px;
}
.listres li a:hover{
    color: #fff;
}


/* page about me  */
.content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    padding-right: 15px;
    position: relative;
}
h2.title_aboutme, h2.title_contactme{
    text-align: left ;
    text-transform: uppercase;
    position: relative;
    font-family: cursive;
    color: #a4acc4;
    width: 100%;

}
h2.title_aboutme span,h2.title_contactme span{
    position: relative;
    z-index: 10;
}
h2.title_aboutme span:before, h2.title_aboutme span:after, h2.title_contactme span:before, h2.title_contactme span:after{
    content: "";
    width: 40%;
    height: 5px;
    background-color: #D72323;
    opacity: 0.2;
    position: absolute;
    bottom: -10px;
    border-radius: 50px;
    z-index: 1;
}
h2.title_aboutme span:after, h2.title_contactme span:after{
    z-index: 2;
    width: 20%;
    background-color: #D72323;
    opacity: 1;
    left: 0;
    animation: alternate infinite animmoveright 3s ease-in-out;
}
@keyframes animmoveright {
    from{
        width: 5%;
    }
    to{
        width: 40%;
    }
}
h2.title_aboutme:before, h2.title_contactme:before{
    content: "About-me";
    font-family: cursive;
    font-weight: 600;
    font-size:clamp(24px, calc(24px + (70 - 24) * ((100vw - 360px) / 1400)), 70px) !important;
    position: absolute;
    top: 10px;
    color:rgba(255, 255, 255, 0.048)
}
.info-about-me {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top:40px;
}

.img_forme,.info {
    width: 50%;
}

.info {
    padding: 15px;
}

.info-about-me {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.img_forme,.info {
    width: 50%;
}

.info {
    padding: 15px;
}

strong.firstcolor {
    font-family: cursive;
}

table.list_infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom : 20px;
}

.list_infos tr {
    width:100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.list_infos td {
    width:30%;
    font-size : 18px;
    color:#a4acc4;
    
}
.list_infos td:nth-child(2){
    margin-left:15px    
}
/* page contact  */
h2.title_contactme:before{
    content: "Contact-me";
}

.div_form {
    padding: 20px 0px;
    margin-block: 1%;
    width: 100%;
}

.div_form input[type="text"], .div_form textarea, .div_form input[type="email"]{
    background: transparent;
    margin-block: 10px;
    padding: 12px 12px 10px;
    color: #fff;
    font-size: 18px;
    border: 1px #431e1e solid;
    font-family: 'Lato';
    font-weight: 500;
    transition: all 0.5s ease-in-out;
    width: 100%;
}
.div_form input[type="text"]:focus, .div_form textarea:focus, .div_form input[type="email"]:focus{
    background:#d723232a;
    border: 1px #431e1e solid !important;
}
.div_form label {
    background: #431e1e;
    padding: 2px 20px 5px;
    font-family: cursive;
    font-size: 15px;
    position: absolute;
    top: -10px;
    left: 10px;
}

.div_form form > div {
    position: relative;
    margin-block: 20px;
}
.div_form form div:last-child {
    margin: 0px;
    width: max-content;
}

input.btn-submit {
    background:#d72323;
    border:unset;
    font-family:nunito,sans-serif;
    font-size:17px;
    text-transform:uppercase;
    font-weight:500;
    letter-spacing:2px;
    padding:10px 35px 9px;
    position:relative;
}

.div_form form div:last-child:before {
    content:"";
    background:#fff;
    width:0%;
    height:1px;
    position:absolute;
    bottom:0px;
    left:0px;
    z-index: 10;
    transition:all 0.5s ease-in-out
}
.div_form form div:last-child:hover:before {
    width:100%;
}
/* responsive */

@media screen and (max-width : 1500px){
    .list_infos td{
        width:40%;
    }
}

@media screen and (max-width : 900px){
    .img_forme,.info {
        width: 100%;
        margin-block:10px
    } 
}

@media screen and (max-width : 500px){
    .list_infos td{
        width:100%;
        text-align:center;
    }
}

