/* for all page */

.pagecurrent {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* background video */
.vidbg {
    position: fixed;
    z-index: -1;
    opacity: 0.2;
    object-fit: cover;
}
/* pallet color */
.firstcolor{
    color:#D72323
  }
p{
    color: #a4acc4;
}
/* Home page */
.h1_pres span.firstcolor {
    opacity: 0.6;
}

.h1_pres span.firstcolor {
    opacity: 0.6;
}
h1{
    font-family: "Nunito",sans-serif;
    font-weight: 500;
}
h1.h1_pres {
    font-weight: 700;
    text-align: center;
    color:#a4acc4
}

.section_content {
    width: 80%;
    margin: auto;
}

.section_content p {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: 15px;
    text-align: center;
    color:#a4acc4
}

.listres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    padding: 0px;

}

.listres li {
    width: max-content;
    margin-inline:10px;
    transition:all 0.5s ;
    cursor:pointer
}
ul.listres li:hover {
    transform: translateY(-5px);
}
.listres li a{
    color: #a4acc4;
    font-size: 30px;
}
.listres li a:hover{
    color: #fff;
}


/* page about me  */
.about-me{
    width: 100%;
}
h2.title_aboutme{
    text-align: left ;
    text-transform: uppercase;
    position: relative;
    font-family: cursive;
    color: #a4acc4;

}
h2.title_aboutme span{
    position: relative;
    z-index: 10;
}
h2.title_aboutme span:before, h2.title_aboutme span:after{
    content: "";
    width: 40%;
    height: 5px;
    background-color: #D72323;
    opacity: 0.2;
    position: absolute;
    bottom: -10px;
    border-radius: 50px;
    z-index: 1;
}
h2.title_aboutme span:after{
    z-index: 2;
    width: 20%;
    background-color: #D72323;
    opacity: 1;
    left: 0;
    animation: alternate infinite animmoveright 3s ease-in-out;
}
@keyframes animmoveright {
    from{
        width: 5%;
    }
    to{
        width: 40%;
    }
}
h2.title_aboutme:before{
    content: "About-me";
    font-family: cursive;
    font-weight: 600;
    font-size:clamp(24px, calc(24px + (70 - 24) * ((100vw - 360px) / 1400)), 70px) !important;
    position: absolute;
    top: 10px;
    color:rgba(255, 255, 255, 0.048)
}

